In [3]:
# !pip install numpy
# !pip install pandas

Collecting numpy
  Downloading numpy-1.24.2-cp310-cp310-win_amd64.whl (14.8 MB)
     --------------------------------------- 14.8/14.8 MB 22.6 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-1.24.2

WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\zaime\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Collecting pandas
  Downloading pandas-1.5.3-cp310-cp310-win_amd64.whl (10.4 MB)
     --------------------------------------- 10.4/10.4 MB 19.8 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\zaime\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\zaime\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\zaime\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\zaime\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.5.3

WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\zaime\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [4]:
import numpy as np;
import pandas as pd;

In [13]:
award_info_df = pd.read_csv(
    './DataSets/awards_moms.csv')

registry_df = pd.read_csv(
    './DataSets/registry_game.csv')

mission_player_df = pd.read_csv(
    './DataSets/missions_players.csv')

In [21]:
award_info_cols = ["data_richness_prize", "id_player", "prize_name", "prize_points", "prize_type", "prize_format", "delivery_mode"]
registry_cols = ["id_player", "user_registration_date", "child_date_of_birth", "current_child_age", "child_age_registration_date", "province", "province_code_abbreviation", "municipality", "region"]
mission_player_cols = ["id_player",	"missionDetailId", "missionSchemaId", "type", "subType", "points", "created_at"]

In [22]:
award_info_df.columns = award_info_cols
registry_df.columns = registry_cols
mission_player_df.columns = mission_player_cols

In [23]:
award_info_df.head()

,data_richness_prize,id_player,prize_name,prize_points,prize_type,prize_format,delivery_mode
0,2022-01-20,1672.0,Bicicletta Personalizzata,21000,basic,physical,home
1,2021-10-20,537088.0,Velocipede Personalizzato,18000,basic,physical,home
2,2021-10-08,537088.0,Velocipede Personalizzato,18000,basic,physical,home
3,2022-01-27,1461448.0,Buono Sconto Photosì,3000,gift,digital,email
4,2021-12-28,1633286.0,Buono Sconto Leolandia,0,special,digital,email

In [24]:
registry_df.head()

,id_player,user_registration_date,child_date_of_birth,current_child_age,child_age_registration_date,province,province_code_abbreviation,municipality,region
0,1878238,2022-06-16,2021-11-22,10.0,6.0,TARANTO,TA,NaN,PUGLIA
1,1289508,2021-06-09,2021-03-03,18.0,3.0,LUCCA,LU,NaN,TOSCANA
2,1170534,2018-10-19,2021-01-14,20.0,-27.0,MANTOVA,MN,RONCOFERRARO,LOMBARDIA
3,964802,2021-03-02,2021-02-13,19.0,0.0,RAVENNA,RA,RAVENNA,EMILIA-ROMAGNA
4,549416,2020-03-24,2020-11-08,22.0,-8.0,CUNEO,CN,BRA,PIEMONTE

In [25]:
mission_player_df.head()

,id_player,missionDetailId,missionSchemaId,type,subType,points,created_at
0,1105190,1.094383e+08,194.0,special,cib,500.0,2021-10-06 16:21:26
1,1895304,2.238056e+09,215.0,special,cib,100.0,2022-07-02 18:37:15
2,1879684,1.767847e+09,215.0,special,cib,100.0,2022-06-17 15:03:46
3,1874660,1.643138e+09,215.0,special,cib,100.0,2022-06-13 11:42:48
4,1521418,1.104016e+08,195.0,special,cib,900.0,2021-10-26 16:36:30

In [27]:
def empty_cell(dataframe, column:str):
    count_nan_column = dataframe[column].isna().sum()
    print(f"Empty Rows Count of {column}: {count_nan_column}")

    dataframe = dataframe.dropna(subset=[column])
    return dataframe

In [54]:
def adjust_data(dataframe, source_column:str, target_column:str):
    unique_source_column_data = dataframe[source_column].unique()
    bicicletta_personalizzata = dataframe[dataframe[source_column] == "Bicicletta Personalizzata"]
    print(bicicletta_personalizzata.head())
    bicicletta_personalizzata_price = bicicletta_personalizzata[target_column].unique()
    print(bicicletta_personalizzata_price)

    # return None
    # return dataframe

In [55]:
adjust_data(award_info_df, "prize_name", "price_points")

    data_richness_prize  id_player                 prize_name  prize_points  \
0            2022-01-20     1672.0  Bicicletta Personalizzata         21000
27           2021-11-16    54780.0  Bicicletta Personalizzata         21000
68           2022-01-04   222394.0  Bicicletta Personalizzata         21000
207          2022-01-30  1070734.0  Bicicletta Personalizzata         21000
344          2021-11-16   259468.0  Bicicletta Personalizzata         21000

    prize_type prize_format delivery_mode
0        basic     physical          home
27       basic     physical          home
68       basic     physical          home
207      basic     physical          home
344      basic     physical          home

In [28]:
award_info_df = empty_cell(award_info_df, "id_player")
award_info_df.head()

Empty Rows Count of id_player: 0

,data_richness_prize,id_player,prize_name,prize_points,prize_type,prize_format,delivery_mode
0,2022-01-20,1672.0,Bicicletta Personalizzata,21000,basic,physical,home
1,2021-10-20,537088.0,Velocipede Personalizzato,18000,basic,physical,home
2,2021-10-08,537088.0,Velocipede Personalizzato,18000,basic,physical,home
3,2022-01-27,1461448.0,Buono Sconto Photosì,3000,gift,digital,email
4,2021-12-28,1633286.0,Buono Sconto Leolandia,0,special,digital,email

In [29]:
registry_df = empty_cell(registry_df, "id_player")
registry_df.head()

Empty Rows Count of id_player: 0

,id_player,user_registration_date,child_date_of_birth,current_child_age,child_age_registration_date,province,province_code_abbreviation,municipality,region
0,1878238,2022-06-16,2021-11-22,10.0,6.0,TARANTO,TA,NaN,PUGLIA
1,1289508,2021-06-09,2021-03-03,18.0,3.0,LUCCA,LU,NaN,TOSCANA
2,1170534,2018-10-19,2021-01-14,20.0,-27.0,MANTOVA,MN,RONCOFERRARO,LOMBARDIA
3,964802,2021-03-02,2021-02-13,19.0,0.0,RAVENNA,RA,RAVENNA,EMILIA-ROMAGNA
4,549416,2020-03-24,2020-11-08,22.0,-8.0,CUNEO,CN,BRA,PIEMONTE

In [30]:
mission_player_df = empty_cell(mission_player_df, "id_player")
mission_player_df.head()

Empty Rows Count of id_player: 0

,id_player,missionDetailId,missionSchemaId,type,subType,points,created_at
0,1105190,1.094383e+08,194.0,special,cib,500.0,2021-10-06 16:21:26
1,1895304,2.238056e+09,215.0,special,cib,100.0,2022-07-02 18:37:15
2,1879684,1.767847e+09,215.0,special,cib,100.0,2022-06-17 15:03:46
3,1874660,1.643138e+09,215.0,special,cib,100.0,2022-06-13 11:42:48
4,1521418,1.104016e+08,195.0,special,cib,900.0,2021-10-26 16:36:30